.success{
    padding: 1rem;
    border: 1px solid green;
    width: 50%;
    border-radius: 8px;
    margin-top: 1em;
}

.error{
    color: red;
    padding: 1rem;
    width: 50%;
    border-radius: 8px;
    margin-top: 1rem;
    border: 1px solid red;
    background-color: rgb(239, 232, 232);
}


.successStyle{
    color: green;
    background-color: lightgrey;
    font-size: 20;
    border-style: "solid";
    border-radius: 5;
    padding: 10;
    margin-bottom: 10;
  };
  
  .errorStyle  {
    color: "red";
    background: "lightgrey";
    font-size: 20;
    border-style: "solid";
    border-radius: 5;
    padding: 10;
    margin-bottom: 10
  };